@import "tailwindcss";

@theme {
  --font-satoshi: "Satoshi", sans-serif;
  --color-brand-pink: #F8C3D9;
  --color-brand-dark: #1A1A1A;
  --color-brand-bg: #FFF9F5;
}

/* Aplicación global */
:root {
  font-family: var(--font-satoshi);
}

body {
  background-color: var(--color-brand-bg);
  color: var(--color-brand-dark);
  margin: 0;
  -webkit-tap-highlight-color: transparent; /* Quita el cuadro azul al tocar botones en móvil */
}